.login-card {
  border: 2px solid #E87200;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  min-height: 500px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.login-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.centered-info {
  text-align: center;
  font-size: 0.95rem; /* optional for readability */
  color: #000000; /* optional to make it subtle */
}

.nl-question-group {
    margin-bottom: 1.5rem; /* or any spacing you prefer */
  }
.nl-question {
  margin-bottom: 1rem
}
  .nl-input, .login-input{
    width: 70%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid #E87200;
    border-radius: 0.5rem; /* Rounded corners */
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    box-sizing: border-box;
  }
  .login-input {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .nl-input:focus {
    border-color: #4a90e2; /* highlight color */
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.3);
    background-color: #fff;
  }
  .nl-textarea {
    width: 100%;
    font-size: 1rem;
    border: 2px solid #E87200;
    border-radius: 0.5rem; /* Rounded corners */
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    box-sizing: border-box;
  }
  .error {
    border-color: #e63946;
  }
  
  .error-text {
    color: #e63946;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  .section-divider-propose {
    margin: 2rem auto;
    width: 75%;
    border: none;
    border-top: 2px solid #E87200; /* Your red color */
  }

  .nl-section {
    padding: 1.5rem;
  }

  .record-card {
  border: 2px solid #E87200;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 1rem
}
.recording {
  padding-top: 1.5rem;
}
.items-center {
  display: flex;
  align-items: center;
}

.record-button {
  background-color: #E87200; /* orange-500 */
  color: white;
  border: 2px solid black;
  border-radius: 0.5rem; /* rounded */
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.record-card {
  border: 2px solid #E87200;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 1rem
}
.recording {
  padding-top: 1.5rem;
}
.items-center {
  display: flex;
  align-items: center;
}

.record-button, .next-button {
  background-color: #E87200; /* orange-500 */
  color: white;
  border: 2px solid black;
  border-radius: 0.5rem; /* rounded */
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.record-button:hover, .next-button:hover {
  background-color: rgb(196, 98, 0); /* darker shade for hover */
}
