html, body {
  margin: 0;
  padding: 0;
  font-family: "Charis SIL", serif;
  min-height: 100%;
  background-color: black;
}

.left-stripe, .right-stripe {
  position: fixed;
  top: 0;
  height: 100%;
  width: 200px;
  background-image: url('/images/background2.jpg');
  background-size: 400%; /* This will make the image appear at 50% of its original size */
  /* background-repeat: repeat-y; */
  z-index: 0;
}

.left-stripe {
  left: 70;
}

.right-stripe {
  right: 149;
}

.navbar {
  position: relative;
  background-color: black;
  width: 100%;
  height: auto;
  min-height: 10px;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
}

/* Logo and title container */
.navbar-branding {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Search bar container */
.search-container {
  flex: 1;
  min-width: 250px; /* Increased minimum width */
  max-width: 500px; /* Increased maximum width */
}

/* Content wrapper */
.content-wrapper {
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 0px;
}

/* Content section */
.content {
  width: 1000px;
  text-align: left;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
  height: fit-content;
  min-height: 1300px;
  z-index: 2;
}

/* Large to medium transition */
@media (max-width: 1200px) and (min-width: 993px) {
  .search-container {
    min-width: 300px;
  }
}

/* Tablet breakpoint */
@media (max-width: 1100px) {
  .content {
    width: 85%;
  }
   /* Hide stripes on tablet and smaller */
 .left-stripe, .right-stripe {
  display: none;
 }
}

/* Mobile breakpoint */
@media (max-width: 992px) {
  .navbar {
    padding: 15px 20px;
  }
  
  .content-wrapper {
    padding: 10px;
  }
  
  .content {
    width: 95%;
    padding: 15px;
  }
  
  .search-container {
    width: 100%; /* Full width on very small screens */
  }

   /* Hide stripes on tablet and smaller */
 .left-stripe, .right-stripe {
  display: none;
 }
}