  /* Navigation Buttons */
  .nav {
    display: flex;
    gap: 10px; /* Adds space between items in the navbar */
    align-items: right; /* Align items vertically */
    justify-content: flex-end; /* Aligns buttons to the right */
    flex-shrink: 0; /* Prevent nav from shrinking */
  }
  
  .nav-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-button {
    padding: 0.5rem .5rem;
    background-color: #E87200;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .nav-button:hover {
    background-color: black !important;
  }