.entry__word strong {
    font-size: 300%;
    color: #009E58;
    margin:2%; 
}
.entry__pos {
    font-size: 200%;
    color: #000;
    margin:2% 0% 2% 2%; 
}
.pronunciation {
    vertical-align: middle; /* Aligns the image vertically with the text */
    margin-bottom: 15px;    /* Adjust this value to fine-tune the position */
    margin-left: 2%;
}

.translationEntry, .definitionEntry {
    margin:2%; 
    line-height: .1;
    font-size: larger;
}

.card {
    width: 95%;
    margin: 2%;
    color: #000000; /* Text color */
    border: 1px solid rgba(212, 8, 42, 0.8); /* Border using the red color */
    border-radius: 8px; /* Rounded corners */
}

.card-header {
    background-color: rgba(212, 8, 42, 0.4); /* Background for the header with red */
}

.card-body {
    background-color: rgba(212, 8, 42, 0.3); /* Background for the body with red */
}
.card-body strong {
    line-height: .1;
    font-size: large;
}
.list-group-item img {
    margin: 2%;
}

.emphasized-text {
    line-height: .5;
    margin-bottom: 15px;
}